body{
    background-color: rgba(145, 137, 137, 0.541);
}
.jeden{
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}
.jeden:hover
{
    color: coral;
}
.czteryteksty{
    margin-top: 30px;
    font: 20px;    
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;

}
.dwa{
    padding-right: 30px;
    width: 400px;
    float: left;
    text-align: center;
}
.czteryteksty:hover{
    color: chartreuse;
    font-size: large;
}
.dwateksty{
    margin-top: 50px;
    font-size: 25px;
    margin-left: 300px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
   
}
.trzy{
    text-align: justify;
    width: 600px;
    float: left;
    border: 5px dotted rgb(92, 25, 155);
    margin-right: 50px;
    padding: 10px;
}
.trzy:hover{
    background-color: cyan;
}