body{
    background-color: rgb(233, 233, 179);
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: cadetblue;
    letter-spacing: 2px;
    
}
img{
    height: 200px;
}
.kontener{
    margin-top: 50px;
    width: 400px;
    text-align: center;
    
    float: left;
}
.dol{
    margin-top: 150px;
    color: darkgoldenrod;
    
}